{% set commandtab = true %}
{% extends 'NetvliesPublishBundle::layout.html.twig' %}
{% block oms_project_name %}{{application.name}}{% endblock %}

{% block content %}
<div id="content-wrapper">

    <section id="content">
        <header>
            <h1>{{application.name}}</h1>
        </header>
        <hr />
        <div id="text">
            Customer: {{application.customer}}<br>
            Repository: {{application.scmUrl}}<br>
            Applicationtype: {{application.applicationType}}<br>

            <hr/>
            <h2>Update repository</h2>
            <a href="{{ path('netvlies_publish_application_updaterepository', {'id': application.id}) }}" class="button">Update branches/tags</a>


            <hr/>
            <h2>Deploy</h2>
            <form id="#deploy_form" name="deploy_form" method="POST">
                {{ form_errors(deployForm) }}
                {{ form_widget(deployForm) }}

                <br>
                <input value="Deploy" type="submit" class="button"/>
            </form>

            <hr />
            <h2>Rollback</h2>
            This works just like ctrl-z. (It will undo last succesfull deployment).
            <form id="#rollback_form" name="rollback_form" method="POST">
                {{ form_errors(rollbackForm) }}
                {{ form_widget(rollbackForm) }}
                <br>
                <input type="submit" value="Rollback" class="button"/>
            </form>

        </div>

    </section>
</div>
{% endblock %}

