{% set commandtab = true %}
{% extends 'NetvliesPublishBundle::layout.html.twig' %}

{% block content %}


    <h3>All logs for {{ application.name }}</h3>
    <hr>

    <a href="{{ path('netvlies_publish_application_dashboard', {'id': application.id}) }}" class="btn btn-default pull-right">Back to dashboard</a>
    <br><br><br>

    <table class="table table-striped table-hover">

        <thead>
            <th>Date</th>
            <th>Command type</th>
            <th>Target</th>
            <th>User</th>
            <th>Status</th>
            <th>Log</th>
        </thead>
        {% for log in logs %}
            <tr>
                <td>
                    {{ log.datetimestart.format('d-m-Y H:i') }}
                </td>
                <td>{{ log.commandLabel }}</td>
                <td>
                    {% if log.target is not null %}
                        {{ log.target.label }}
                    {% else %}
                        {{ log.host }}
                    {% endif %}
                </td>
                <td>
                    {{ log.user }}
                </td>
                <td>
                    {% if log.exitcode == 0 %}
                        success
                    {% else %}
                        failed
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('netvlies_publish_command_viewlog', {'id': log.id, 'application': application.id}) }}">View log</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <br>

    <a href="{{ path('netvlies_publish_application_dashboard', {'id': application.id}) }}" class="btn btn-default pull-right">Back to dashboard</a>



{% endblock %}
