{% extends 'NetvliesPublishBundle::layout.html.twig' %}

{% block content %}


    <h3>All logs for {{ application.name }}</h3>
    <hr>

    <a href="{{ path('netvlies_publish_application_dashboard', {'application': application.id}) }}" class="btn btn-default pull-right">Back to dashboard</a>
    <br><br><br>

    <div class="visible-xs"><span class="label label-info">Info</span> Table can be scrolled horizontally</div>
    <br>
    <div class="table-responsive">
    <table class="table table-striped table-hover">

        <thead>
            <th>Date</th>
            <th>Deployment type</th>
            <th>Target</th>
            <th>User</th>
            <th>Status</th>
            <th>Log</th>
        </thead>
        {% for log in logs %}
            <tr>
                <td>
                    {{ log.datetimestart.format('d-m-Y H:i') }}
                </td>
                <td>{{ log.commandLabel }}</td>
                <td>
                    {% if log.target is not null %}
                        {{ log.target.label }}
                    {% else %}
                        {{ log.host }}
                    {% endif %}
                </td>
                <td>
                    {{ log.user }}
                </td>
                <td>
                    {% if log.log is null %}
                        <img src="{{ asset('bundles/netvliespublish/img/ajax-loader.gif') }}"> still running ...
                    {% elseif log.exitcode == 0 %}
                        success
                    {% else %}
                        failed
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('netvlies_publish_command_viewlog', {'commandlog': log.id}) }}">View log</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    </div>
    <br>

    <a href="{{ path('netvlies_publish_application_dashboard', {'application': application.id}) }}" class="btn btn-default pull-right">Back to dashboard</a>



{% endblock %}
