{% set commandtab = true %}
{% extends 'NetvliesPublishBundle::layout.html.twig' %}

{% block content %}

<div id="content-wrapper">

    <h3>
        {% if log.target is not null %}
            {{ log.target.label }}
        {% else %}
            {{ log.host }}
        {% endif %}</h3>

    <a href="{{ path('netvlies_publish_application_dashboard', {'application': application.id}) }}" class="btn btn-default pull-right">Back to dashboard</a>
    <br>

    <h4>Summary</h4>
    <dl class="dl-horizontal">
        <dt>Date time</dt>
        <dd>{{ log.datetimestart.format('d-m-Y H:i:s') }}</dd>
        <dt>Target label</dt>
        <dd>
            {% if log.target is not null %}
                {{ log.target.label }}
            {% else %}
                No target involved
            {% endif %}
        </dd>

        <dt>Host<dt>
        <dd>{{ log.host }}</dd>

        <dt>DTAP type</dt>
        <dd>{{ log.type }}</dd>

        <dt>Start</dt>
        <dd>{{ log.datetimestart.format('d-m-Y H:i:s') }}</dd>

        <dt>End</dt>
        <dd>
            {% if log.datetimeend %}
                {{ log.datetimeend.format('d-m-Y H:i:s') }}
            {% else %}
                error / not finished
            {% endif %}
        </dd>

        <dt>User</dt>
        <dd>{{ log.user }}</dd>

        {% if log.exitcode is null %}
            <dt>Exitcode</dt>
            <dd><img src="{{ asset('bundles/netvliespublish/img/ajax-loader.gif') }}"> still running ... </dd>
        {% else %}
            <dt>Exitcode</dt>
            <dd>{{ log.exitcode }}</dd>
        {% endif %}
    </dl>
    <br>

    <h4>Deployment command</h4>
    <pre>{{ log.command | replace({' && ': '<br>', ' &&': '<br>', '&& ': '<br>', '&&': '<br>'}) |  raw }}</pre>
    <br>

    <h4>Output</h4>
    <pre>{{ log.log|trim }}</pre>

    <a href="{{ path('netvlies_publish_application_dashboard', {'application': application.id}) }}" class="btn btn-default pull-right">Back to dashboard</a>

{% endblock %}
