{% set commandtab = true %}
{% extends 'NetvliesPublishBundle::layout.html.twig' %}

{% block content %}

<div id="content-wrapper">

    <section id="content">
        <header>
            <h1>{{ log.datetimestart.format('d-m-Y H:i:s') }} -
                {% if log.target is not null %}
                    {{ log.target.label }}
                {% else %}
                    {{ log.host }}
                {% endif %}</h1>
        </header>

        <div id="text">

        <a href="{{ path('netvlies_publish_application_dashboard', {'id': application.id}) }}">Terug naar dashboard</a>
        <br>
        <br>

        <table>
            <tr>
                <td>Target label</td>
                <td>
                    {% if log.target is not null %}
                        {{ log.target.label }}
                    {% else %}
                        No target involved
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Host</td>
                <td>{{ log.host }}</td>
            </tr>
            <tr>
                <td>DTAP type</td>
                <td>{{ log.type }}</td>
            </tr>
            <tr>
                <td>Start</td>
                <td>{{ log.datetimestart.format('d-m-Y H:i:s') }}</td>
            </tr>
            <tr>
                <td>End</td>
                <td>
                    {% if log.datetimeend %}
                        {{ log.datetimeend.format('d-m-Y H:i:s') }}
                    {% else %}
                        error / not finished
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>User</td>
                <td>{{ log.user }}</td>
            </tr>
            <tr>
                <td>Exitcode</td>
                <td>{{ log.exitcode }}</td>
            </tr>
        </table>
<br>
        <div>
            <h2>Command</h2>
            {{ log.command | replace({'&&': '<br>'}) | raw }}
        </div>
            <h2>Output</h2>
            {{ log.log|trim|nl2br }}
        </div>
    </section>
</div>


{% endblock %}
