<head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>{% block oms_title %}Netvlies publishing{% endblock %}</title>
        <meta name="description" content="">
        <meta name="author" content="">

        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

        {% block oms_stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/netvliespublish/css/style.css') }}">
        {% endblock %}

        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    {% endblock %}

</head>

<body>

    {% block body %}
        <header role="banner">
    		<h1>Publishing tool</h1>
    		<nav>
    			<ul class="cf">

                    {% block oms_modules %}

                    {% endblock %}

                        <li class="right-button">
                            <button class="instellingen ir" title="Instellingen" data-subnav=""><span>Instellingen</span></button>
                        </li>

                    {% block oms_search %}

                        <!-- TODO: zoeken opzetten na uitwerken zoekfunctie -->
                        <li class="search">
                            <form action="" method="get">
                                <input type="text" placeholder="Zoeken" name="q" />
                            </form>
                        </li>

                    {% endblock %}

    			</ul>
    		</nav>

    	</header>
        <div id="subnav">
            <ul>

                {% block oms_projects %}
                    <li>
                        <button class="dropdown">{% block oms_project_name %}Projects{% endblock %}<span></span></button>
                        <div class="drop">
                            <ul>
                                {% render "NetvliesPublishBundle:Application:list" %}
                            </ul>
                        </div>
                    </li>
                {% endblock %}

                {% if application is defined %}
                    {% block oms_project_options %}
                        <li>
                            <a href="#" >Dashboard</a>
                        </li>
                        <li>
                            <a href="{{ path('netvlies_publish_application_targetmappings', {'id': application.id }) }}">Targetmappings</a>
                        </li>
                        <li>
                            <a href="{{ path('netvlies_publish_application_edit', {'id': application.id }) }}" >Settings</a>
                        </li>
                    {% endblock %}
                {% endif %}
            </ul>
        </div>


        {% block content %}{% endblock %}
    {% endblock %}

    {% block oms_javascripts %}

        <script src="{{ asset('bundles/netvliespublish/js/libs/modernizr-2.0.6.min.js') }}"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ asset('bundles/netvliesoms/js/libs/jquery-1.7.min.js') }}"><\/script>')</script>
        <script src="{{ asset('bundles/netvliespublish/js/tiny_mce/jquery.tinymce.js') }}"></script>
        <script src="{{ asset('bundles/netvliespublish/js/libs/jquery-ui-1.8.16.custom.min.js') }}"></script>

        <script defer src="{{ asset('bundles/netvliespublish/js/oms/objects.js') }}"></script>
        <script defer src="{{ asset('bundles/netvliespublish/js/script.js') }}"></script>

        <!--[if lte IE 7 ]>
        <script src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
        <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
        <![endif]-->

    {% endblock %}

    </body>
</html>