<br/>
Current ref: {{oldref}}<br>
New ref: {{newref}}<br><br>

{% if oldref == newref %}
    Current target is already up to date
{%else%}
    Changes that will be deployed:<br/>

    <ul>
        {%for msg in messages %}
            <li>{{msg.author}} : {{ msg.message }}</li>
        {%endfor%}
    </ul>

    For detailed info <a href="{{bburl}}">click here</a>

    {%if not foundall%}
        <br/>
        <b>List of commit messages is not complete. Please visit <a href="{{bburl}}">Bitbucket</a> for a list of all changes</b>
    {%endif%}
{%endif%}

<script>
    $('#netvlies_publishbundle_applicationdeploy_reference').val('{{ newref }}')
</script>


    <br/>
    <br/>

    <input value="Deploy" type="submit"/>


