<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="description" content="Organist">
        <meta name="author" content="markri">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Organist deployment tool</title>

        <link href="{{ asset('bundles/netvliespublish/css/jquery.liveFilter.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/netvliespublish/select2-3.4.2/select2.css') }}" rel="stylesheet"/>
        <link href="{{ asset('bundles/netvliespublish/css/select2.css') }}" rel="stylesheet"/>
        <link href="{{ asset('bundles/netvliespublish/css/bootstrap.css') }}" rel="stylesheet" media="screen">

        {% block javascripts %}
            {% if status_bitbucket %}
                <script type="text/javascript" src="https://statuspage-production.s3.amazonaws.com/se-v2.js"></script>
            {% endif %}

            <script type="text/javascript">
                if (window.organist === undefined) { window.organist = {}; }
                window.organist.settings = {
                    githubstatus: "{{ path('default_githubstatus') }}"
                }
            </script>
        {% endblock %}

    {% endblock %}

</head>

<body>

    {% block body %}

        {{ renderMenu() }}

        <div class="container-fluid">
            <div class="col-md-12">
                {% block messages %}

                    {% for flash in app.session.flashbag.get('error') %}
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>Oops!</strong> {{ flash|raw }}
                        </div>
                    {% endfor %}

                    {% for flash in app.session.flashbag.get('success') %}
                        <div class="alert alert-success">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>Yay!</strong> {{ flash|raw }}
                        </div>
                    {% endfor %}

                    {% for flash in app.session.flashbag.get('warning') %}
                        <div class="alert alert-warning">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>Warning!</strong> {{ flash|raw }}
                        </div>
                    {% endfor %}

                    {% for flash in app.session.flashbag.all %}
                        <div class="alert alert-info">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {% for message in flash %}
                                <strong>Info:</strong> {{ message |raw }}
                            {% endfor %}
                        </div>
                    {% endfor %}

                {% endblock %}

                <div class="panel panel-default">
                    <div class="panel-body">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>

        </div>
    {% endblock %}

    {% block footer_javascripts %}
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="{{ asset('bundles/netvliespublish/select2-3.4.2/select2.js') }}"></script>
        <script src="{{ asset('bundles/netvliespublish/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/netvliespublish/js/jquery.liveFilter.js') }}"></script>
        <script src="{{ asset('bundles/netvliespublish/js/organist.js') }}"></script>
    {% endblock %}
</body>
</html>
