<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="description" content="Organist">
        <meta name="author" content="markri">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block oms_title %}Organist deployment tool{% endblock %}</title>

        <link href="{{ asset('bundles/netvliespublish/css/jquery.liveFilter.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/netvliespublish/select2-3.4.2/select2.css') }}" rel="stylesheet"/>


        <!-- Bootstrap -->
        <link href="{{ asset('bundles/netvliespublish/css/bootstrap.css') }}" rel="stylesheet" media="screen">

    {% endblock %}

</head>

<body>
    {% block body %}

        <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ path('netvlies_publish_default_index') }}">Organist</a>
                </div>
                <div class="navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <form class="navbar-form" role="search">
                                <div class="form-group">
                                    {% if application is defined %}
                                        {{applicationselect(application.id)|raw}}
                                    {% else %}
                                        {{applicationselect()|raw}}
                                    {% endif %}
                                </div>
                            </form>
                        </li>
                        {% if application is defined %}

                            <li {% if dashboardtab is defined %}class="active" {% endif %}>
                                <a href="{{ path('netvlies_publish_application_dashboard', {'id': application.id}) }}" ><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a>
                            </li>
                            {% if application.id is checkedout %}
                                <li {% if commandtab is defined %}class="active" {% endif %}>
                                    <a href="{{ path('netvlies_publish_command_commandpanel', {'id': application.id}) }}" ><span class="glyphicon glyphicon-transfer"></span> Commands</a>
                                </li>
                                <li {% if targettab is defined %}class="active" {% endif %}>
                                    <a href="{{ path('netvlies_publish_target_targets', {'id': application.id }) }}"><span class="glyphicon glyphicon-screenshot"></span> Targets</a>
                                </li>
                            {% else %}
                                <li {% if commandtab is defined %}class="active" {% endif %}>
                                    <a href="{{ path('netvlies_publish_application_checkoutrepository', {'id': application.id }) }}"><span class="glyphicon glyphicon-transfer"></span> Checkout repository</a>
                                </li>
                            {% endif %}
                            <li {% if settingstab is defined %}class="active" {% endif %}>
                                <a href="{{ path('netvlies_publish_application_edit', {'id': application.id }) }}" ><span class="glyphicon glyphicon-cog"></span> Settings</a>
                            </li>

                        {% endif %}

                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">

            {% for flash in app.session.flashbag.get('error') %}
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Oops!</strong> {{ flash|raw }}
                </div>
            {% endfor %}

            {% for flash in app.session.flashbag.get('success') %}
                <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Yay!</strong> {{ flash|raw }}
                </div>
            {% endfor %}

            {% for flash in app.session.flashbag.get('warning') %}
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Focus! </strong> {{ flash|raw }}
                </div>
            {% endfor %}

            {% for flash in app.session.flashbag.all %}
                <div class="alert alert-info">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {% for message in flash %}
                        <strong>FYI</strong> {{ message |raw }}
                    {% endfor %}
                </div>
            {% endfor %}

            <div class="panel panel-default">
                <div class="panel-body">
                    {% block content %}
                        {{ render(controller('NetvliesPublishBundle:Application:listWidget')) }}
                    {% endblock %}
                </div>
            </div>
        </div>


    {% endblock %}

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{ asset('bundles/netvliespublish/select2-3.4.2/select2.js') }}"></script>
    <script src="{{ asset('bundles/netvliespublish/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/netvliespublish/js/jquery.liveFilter.js') }}"></script>
    <script src="{{ asset('bundles/netvliespublish/js/organist.js') }}"></script>
</body>
</html>
