<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>{% block oms_title %}Organist deployment tool{% endblock %}</title>
        <meta name="description" content="Organist">
        <meta name="author" content="markri">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ asset('bundles/netvliespublish/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('bundles/netvliespublish/assets/css/bootstrap-responsive.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/netvliespublish/css/jquery.liveFilter.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/netvliespublish/select2-3.4.2/select2.css') }}" rel="stylesheet"/>


    {% endblock %}

</head>

<body style="padding-top: 60px">
    {% block body %}

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav">
                        <li class="active"><a href="/"><i class="icon-home icon-white"></i> Home</a></li>
                        <li class="active">
                            <select id="appselect" style="width:250px; margin-top: 6px">
                                {{applicationselect()|raw}}
                            </select>
                        </li>

                    </ul>
                </div>
            </div>
        </div>

        <div class="container">

            {% if application is defined %}
                <div class="row">
                    <ul class="nav nav-tabs">
                        <li {% if dashboardtab is defined %}class="active" {% endif %}>
                            <a href="{{ path('netvlies_publish_application_dashboard', {'id': application.id}) }}" >Dashboard</a>
                        </li>
                        {% if application.id is checkedout %}
                            <li {% if commandtab is defined %}class="active" {% endif %}>
                                <a href="{{ path('netvlies_publish_command_commandpanel', {'id': application.id}) }}" >Commands</a>
                            </li>
                            <li {% if targettab is defined %}class="active" {% endif %}>
                                <a href="{{ path('netvlies_publish_target_targets', {'id': application.id }) }}">Targets</a>
                            </li>
                        {% else %}
                            <li {% if commandtab is defined %}class="active" {% endif %}>
                                <a href="{{ path('netvlies_publish_application_checkoutrepository', {'id': application.id }) }}">Checkout repository</a>
                            </li>
                        {% endif %}
                        <li {% if settingstab is defined %}class="active" {% endif %}>
                            <a href="{{ path('netvlies_publish_application_edit', {'id': application.id }) }}" >Settings</a>
                        </li>
                    </ul>
                </div>
            {% endif %}


            <div class="row">
                {% for flash in app.session.flashbag.get('error') %}
                    <div class="alert alert-error">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Oops!</strong> {{ flash|raw }}
                    </div>
                {% endfor %}

                {% for flash in app.session.flashbag.get('success') %}
                    <div class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Yay!</strong> {{ flash|raw }}
                    </div>
                {% endfor %}

                {% for flash in app.session.flashbag.all %}
                    <div class="alert alert-info">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>FYI: </strong> {{ flash|raw }}
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                {% block content %}
                    {{ render(controller('NetvliesPublishBundle:Application:listWidget')) }}
                {% endblock %}
            </div>
        </div>
    {% endblock %}

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{ asset('bundles/netvliespublish/select2-3.4.2/select2.js') }}"></script>
    <script src="{{ asset('bundles/netvliespublish/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/netvliespublish/js/jquery.liveFilter.js') }}"></script>
    <script src="{{ asset('bundles/netvliespublish/js/organist.js') }}"></script>
</body>
</html>
