<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <ul class="nav navbar-nav">
                 <li {% if app.request.requestUri == path('netvlies_publish_default_index') %}class="active"{% endif %}> <a class="navbar-brand" href="{{ path('netvlies_publish_default_index') }}"><span class="glyphicon glyphicon-home"></span></a></li>
            </ul>
        </div>

        <div class="navbar-collapse collapse">

            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle navbar-brand" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Organist
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li {% if environmentstab is defined %}class="active" {% endif %}>
                            <a href="{{ path('netvlies_publish_environment_list') }}" ><span class="glyphicon glyphicon-tasks"></span> Manage servers</a>
                        </li>
                        <li>
                            <a href="{{ path('netvlies_publish_application_create') }}"><span class="glyphicon glyphicon-modal-window"></span> New application</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    {% if application is not empty%}
                        {{applicationselect(application.id)|raw}}
                    {% else %}
                        {{applicationselect()|raw}}
                    {% endif %}
                </div>
            </form>

            <ul class="nav navbar-nav">
                {% if application is not empty %}
                    <li {% if app.request.requestUri == path('netvlies_publish_application_dashboard', {'application': application.id}) %}class="active" {% endif %}>
                        <a href="{{ path('netvlies_publish_application_dashboard', {'application': application.id}) }}" ><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a>
                    </li>
                    {% if application.id is checkedout %}
                        <li {% if menuTab == 'Command' %}class="active" {% endif %}>
                            <a href="{{ path('netvlies_publish_command_commandpanel', {'application': application.id}) }}" ><span class="glyphicon glyphicon-transfer"></span> Commands</a>
                        </li>
                        <li {% if menuTab == 'Target' %}class="active" {% endif %}>
                            <a href="{{ path('netvlies_publish_target_targets', {'application': application.id }) }}"><span class="glyphicon glyphicon-screenshot"></span> Targets</a>
                        </li>
                    {% else %}
                        <li {% if app.request.requestUri == path('netvlies_publish_application_checkoutrepository', {'application': application.id }) %}class="active" {% endif %}>
                            <a href="{{ path('netvlies_publish_application_checkoutrepository', {'application': application.id }) }}"><span class="glyphicon glyphicon-transfer"></span> Checkout repository</a>
                        </li>
                    {% endif %}
                    <li {% if app.request.requestUri == path('netvlies_publish_application_edit', {'application': application.id }) %}class="active" {% endif %}>
                        <a href="{{ path('netvlies_publish_application_edit', {'application': application.id }) }}" ><span class="glyphicon glyphicon-cog"></span> Settings</a>
                    </li>
                {% endif %}
            </ul>

            <form class="navbar-form navbar-nav-color navbar-right">
                {% if status_bitbucket %}
                    <a href="http://status.bitbucket.org/" id="bitbucketlink" class="btn"><span class="glyphicon glyphicon-cloud-download" id="bitbucketstatus"></span></a>
                {% endif %}
                {% if status_github %}
                    <a href="https://status.github.com/" id="githublink" class="btn"><span class="glyphicon glyphicon-cloud-download" id="githubstatus"></span></a>
                {% endif %}
            </form>
        </div>
    </div>
</nav>