{% extends 'OrganistBundle::layout.html.twig' %}
{% block content %}

    <h3>Targets</h3>
    <hr>

    <form id="target" name="target" method="POST" action="{{ path('markri_organist_target_targets', {'application': application.id})}}">
        <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <th>Environment</th>
                <th>Label</th>
                <th>Host</th>
                <th>Actions</th>
            </thead>
        {% for target in targets %}
            <tr>
                <td>{{ target.environment.type }}</td>
                <td>{{ target.label }}</td>
                <td>{{ target.environment.hostname }}</td>
                <td>
                    <a href="{{ path('markri_organist_target_detail', { 'target': target.id}) }}"><span class="glyphicon glyphicon-eye-open"></span> view</a> |
                    <a href="{{path('markri_organist_target_edit', {'target': target.id})}}"><span class="glyphicon glyphicon-pencil"></span> edit</a> |
                    <a onclick="confirm('Are you sure you want to delete this target?')? window.location = '{{path('markri_organist_target_delete', {'target': target.id})}}': false" href="#"><span class="glyphicon glyphicon-remove"></span> delete</a>
                </td>
            </tr>
        {% endfor %}
        </table>
        </div>
        <div class="visible-xs"><span class="label label-info">Info</span> Table can be scrolled horizontally</div>
    </form>


    <a href="{{path('markri_organist_target_createstep1', {'application': application.id})}}" class="btn btn-default pull-right"><span class="glyphicon glyphicon-plus-sign"></span> Add target</a>
{% endblock %}


