{% extends 'NetvliesPublishBundle::base2.html.twig' %}
{% block oms_project_name %}{{application.name}}{% endblock %}

{% block content %}
<div id="content-wrapper">

    <section id="content">
        <header>
            <h1>{{application.name}}</h1>
        </header>
        <hr />
        <div id="text">
            Customer: {{application.customer}}<br>
            Repository: <a href="https://bitbucket.org/{{application.gitrepoSSH|replace({'.git' : '', 'git@bitbucket.org:': ''})}}">{{application.gitrepoSSH}}</a><br>
            Applicationtype: {{application.type.label}}<br>

            <hr/>
            <h2>Deploy</h2>
            <form id="#deploy_form" name="deploy_form" method="POST">
                {{ form_errors(deployForm) }}
                {{ form_widget(deployForm) }}

                <div id="reference_return">

                </div>
            </form>

            <hr />
            <h2>Rollback</h2>
            This works just like ctrl-z. (It will undo last succesfull deployment).
            <form id="#rollback_form" name="rollback_form" method="POST">
                {{ form_errors(rollbackForm) }}
                {{ form_widget(rollbackForm) }}
                <input type="submit" value="Rollback"/>
            </form>


            <hr />
            <h2>Setup development</h2>
            <form id="#setupO_form" name="setupO_form" method="POST">
                {{ form_errors(deployOForm) }}
                {{ form_widget(deployOForm) }}
                <input type="submit" value="Setup"/>
            </form>
        </div>

    </section>
</div>
{% endblock %}
{% block oms_javascripts %}

    {{ parent() }}
    <script>

    $('#netvlies_publishbundle_applicationdeploy_target_target').change( function() {

        if($(this).val()==''){
            return;
        }

        $.ajax({
            type: "GET",
            data: "id=" + $(this).val(),
            url:"{{ path('netvlies_publish_target_getreference') }}",
            beforeSend: function(){

                $('#reference_return').html('<img src="{{ asset('bundles/netvliespublish/img/loading.gif') }}" />').show();
            },            
            success: function(msg){
                if (msg != ''){
                        $('#reference_return').html(msg).show();
                   }
                   else
                   {
                       $('#reference_return').html('<em>Oops! Something went wrong</em>');
                   }
               }
           });
      });


    $('#netvlies_publishbundle_applicationdeploy_reference').change( function (){
        if($(this).val()==''){
            return;
        }

        $.ajax({
            type: "GET",
            data: "id=" + $('#netvlies_publishbundle_applicationdeploy_target_target').val()  + "&ref="+$(this).val(),
            url:"{{ path('netvlies_publish_target_loadchangeset') }}",
            beforeSend: function(){
                $('#reference_return').html('<img src="{{ asset('bundles/netvliespublish/img/loading.gif') }}" />').show();
            },
            success: function(msg){
                if (msg != ''){
                        $('#reference_return').html(msg).show();
                   }
                   else
                   {
                       $('#reference_return').html('<em>Oops! Something went wrong</em>');
                   }
               }
           });
      });

    </script>
{%endblock%}

