{% if (target.requiresrevision == false or application.referencetodeploy is not empty) %}
    <a href="{{ path('netvlies_publish_application_execute', {'id': application.id, 'targetid':target.id, 'revision':application.referencetodeploy }) }}">execute</a> |
{%else%}
    -- choose branch/tag -- |
{% endif %}


<br/>
{{ form_label(form.referencetodeploy) }}
{{ form_widget(form.referencetodeploy, { 'attr': {'onchange': 'onchange=document.target.submit()'}}) }}
<br/>
<br/>
{% if application.referencetodeploy %}
    <h3>Applicable changesets for this reference</h3>
    {% for changeset in changesets %}
        Reference: {{ changeset.raw_node }}<br>
        Author: {{ changeset.author }}<br>
        Message: {{ changeset.message }}<br>
        <hr>

    {% endfor %}
    This list might not be complete. Please see <a href="{{bitbucketChangesetURL}}">BitBucket</a> for a complete history

{% endif %}