{% extends 'NetvliesPublishBundle::base2.html.twig' %}
{% block oms_project_name %}{{application.name}}{% endblock %}

{% block head %}
    <script type="text/javascript">
        function randompass(field) {
            if(typeof field == 'string') var field = document.getElementById(field);
            var chars = '3456789abcdefghjkmnpqrtuvwxyz3456789ABCDEFGHJKLMNPQRTUVWXY3456789';
            var passwd = '';
            for(var i = 0; i < 10; ++i) {
                passwd += chars.charAt(Math.floor(Math.random() * chars.length));
            }
            field.value = passwd;
            return true;
        }
    </script>
{% endblock %}

{% block content %}

        <h2>{{application.name}}</h2>

        <form action="" method="POST">

            {{ form_errors(form) }}
            Note: after hitting the save button following actions will be executed:<br>
            <ul>
                <li>A new Git Repository will be created</li>
                <li>Base files will be imported into Git</li>
                <li>A git ignore file will be generated</li>
                <li>Default deployment descriptors will be generated</li>
            </ul>
            <br>

            {{ form_row(form.name) }}
            {{ form_row(form.customer) }}
            {{ form_row(form.type) }}
            {{ form_row(form.mysqlpw) }} <a href="#" onclick="return !randompass('{{form.mysqlpw.get('id')}}');">Generate random password</a>
            <br><br>


            <input type="submit" value="Opslaan" />

        </form>

{% endblock %}