{% extends 'NetvliesPublishBundle:Application:view.html.twig' %}
{% block deployment %}
    {% if application.gitrepo %}

        <h2>Deployments</h2>

        <form id="deploy" name="deploy" method="POST" action="{{ path('netvlies_publish_application_targetmappings', {'id': application.id})}}">
            <table border="1" cellspacing="0">
                <thead>
                    <th>Environment</th>
                    <th>Link</th>
                    <th>Phing target</th>
                    <th>Current branch</th>
                    <th>Current revision</th>
                    <th>Actions</th>
                </thead>
            {% for deployment in deployments %}
                <tr>
                    <td>{{ deployment.environment.type }}</td>
                    <td><a href="http://{{application.name}}.{{ deployment.environment.hostname }}">http://{{application.name}}.{{ deployment.environment.hostname }}</a></td>

                {% if deployment.phingTarget %}
                    <td>{{deployment.phingTarget.name}} </td>
                    <td>{{deployment.currentBranch}}&nbsp;</td>
                    <td>{{deployment.currentRevision}}&nbsp;</td>
                    <td>
                        {% if (deployment.requiresrevision == false or application.referencetodeploy is not empty) %}
                            <a href="{{ path('netvlies_publish_application_execute', {'id': application.id, 'deployid':deployment.id, 'revision':application.referencetodeploy }) }}">execute</a> |
                        {%else%}
                            -- choose branch/tag -- |
                        {% endif %}

                        <a href="{{path('netvlies_publish_deployment_edit', {'id': deployment.id})}}">edit</a> |
                        <a href="{{path('netvlies_publish_deployment_delete', {'id': deployment.id})}}">delete</a>
                    </td>
                {%else%}
                    <td>Unbound action</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>
                        <a href="{{ path('netvlies_publish_deployment_edit', {'id': deployment.id }) }}">edit</a> |
                        <a href="{{path('netvlies_publish_deployment_delete', {'id': deployment.id})}}">delete</a>
                    </td>
                {%endif%}
                </tr>
            {% endfor %}
            </table>

            <br/>
            <br/>
            {{ form_label(form.referencetodeploy) }}
            {{ form_widget(form.referencetodeploy, { 'attr': {'onchange': 'onchange=document.deploy.submit()'}}) }}
            <br/>
            <br/>
            {% if application.referencetodeploy %}
                <h3>Applicable changesets for this reference</h3>
                {% for changeset in application.applicableChangesets %}
                    Reference: {{ changeset.raw_node }}<br>
                    Author: {{ changeset.author }}<br>
                    Message: {{ changeset.message }}<br>
                    <hr>

                {% endfor %}
                This list might not be complete. Please see <a href="{{application.getBitbucketChangesetURL}}">BitBucket</a> for a complete history
                
            {% endif %}
            <br>
        </form>


        <a href="{{path('netvlies_publish_deployment_createstep1', {'id': application.id})}}">Add deployment</a>
    {% else %}
        <a href="{{ path('netvlies_publish_application_enrich', {'id': application.id})}}">initialize new project</a>
    {% endif %}
{% endblock %}


