{% set dashboardtab = true %}
{% extends 'NetvliesPublishBundle::layout.html.twig'  %}
{% block oms_project_name %}{{application.name}}{% endblock %}

{% block content %}

    <div class="row">
    <h2>{{application.name}}<a href="{{ path('netvlies_publish_application_edit', {'id': application.id}) }}"> <small>[ edit ]</small></a></h2>
    <hr />

    </div>

    <div class="row">
        <h3>Details</h3>
        <dl class="dl-horizontal">
            <dt>Customer</dt> <dd>{{application.customer}}</dd>
            <dt>Name</dt> <dd>{{application.name}}</dd>
            <dt>Repository type</dt> <dd>{{application.scmService}}</dd>
            <dt>Applicationtype</dt> <dd>{{application.applicationtype|apptypelabel}}</dd>
        </dl>
        <br><br>
    </div>



    {% if application.targets | length > 0%}
        <div class="row">
        <h3>Currently deployed versions</h3>
        <table class="table table-bordered">
        <thead>
            <th>D</th>
            <th>T</th>
            <th>A</th>
            <th>P</th>
        </thead>
        <tr>
            {% set types = ['D', 'T', 'A', 'P'] %}
            {% for type in types %}
            <td>
                {% for target in application.targets if target.environment.type == type and target.inactive is empty %}
                    {% if not loop.first %}
                    <hr>
                    {%endif%}
                    <a href="{{ path('netvlies_publish_target_edit', { 'id': target.id}) }}">{{target.label}}</a><br>
                    {%if target.lastDeployedTag is not empty%}
                        {{ target.lastDeployedTag }}<br>
                    {%elseif target.lastDeployedBranch is not empty%}
                        {{ target.lastDeployedBranch }}<br>
                        ({{ target.lastDeployedRevision }})<br>
                    {% else %}
                        Not yet deployed<br>
                    {%endif%}
                {% else %}
                    -
                {% endfor %}
            </td>
            {%endfor%}
        </table>
        </div>
        <br><br>
    {%endif%}



    <div class="row">
    <h3>Last executed commands</h3>
    <table class="table table-bordered table-hover">
        <thead>
            <th>Date</th>
            <th>Command type</th>
            <th>Target</th>
            <th>User</th>
            <th>Status</th>
            <th>Log</th>
        </thead>
        {% for log in logs %}
            <tr
                {% if log.exitcode == 0 %}
                    class="success"
                {% else %}
                    class="error"
                {% endif %}
                >
                <td>
                    {{ log.datetimestart.format('d-m-Y H:i') }}
                </td>
                <td>{{ log.commandLabel }}</td>
                <td>
                    {% if log.target is not null %}
                        {{ log.target.label }}
                    {% else %}
                        {{ log.host }}
                    {% endif %}
                </td>
                <td>
                    {{ log.user }}
                </td>
                <td>
                    {% if log.exitcode == 0 %}
                        success
                    {% else %}
                        failed
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('netvlies_publish_command_viewlog', {'id': log.id, 'application': application.id}) }}">View log</a>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="5" align="right">&nbsp;</td>
            <td><a href="{{ path('netvlies_publish_command_listlogs', {'id': application.id}) }}">View all logs</a></td>
        </tr>
    </table>
    </div>

{% endblock %}