{% extends 'NetvliesPublishBundle::layout.html.twig' %}
{% block oms_project_name %}{{application.name}}{% endblock %}

{% block content %}
<div id="content-wrapper">

    <section id="content">
        <header>
            <h1>{{application.name}}</h1>
        </header>
        <hr />
        <div id="text">


        <form action="" method="POST">

            {{ form_errors(form) }}
            {{ form_widget(form) }}

            <br/>
            <input type="submit" value="Opslaan" class="button"/>
            <a href="{{ path('netvlies_publish_application_dashboard', {'id': application.id}) }}" class="button">Annuleren</a>
            <br>
            <br>
            {% if deleteable %}
                <a href="{{ path('netvlies_publish_application_delete', {'id': application.id}) }}" class="button">Applicatie verwijderen</a>
            {% endif %}


        </form>
        </div>
        </section>
    </div>

{% endblock %}
