{% set settingstab = true %}
{% extends 'NetvliesPublishBundle::layout.html.twig' %}
{% block oms_project_name %}{{application.name}}{% endblock %}

{% block content %}
        <h3>{{application.name}}</h3>
        <hr />

        <form action="" method="POST">

            {% form_theme form 'NetvliesPublishBundle:Form:extended_div_layout.html.twig' %}
            {{ form_errors(form) }}
            {{ form_widget(form._token) }}

            <div class="form-group">
                {{ form_row(form.name) }}
            </div>
            {{ form_row(form.customer) }}

            <ul class="userfiles" data-prototype="{{ form_widget(form.userFiles.vars.prototype)|e }}">
                {# iterate over each existing tag and render its only field: name #}
                {% for userfile in form.userFiles %}
                    <li>
                        {{ form_row(userfile.path) }}
                        {{ form_row(userfile.type) }}
                    </li>
                {% endfor %}
            </ul>




            <br/>
            <a href="{{ path('netvlies_publish_application_dashboard', {'id': application.id}) }}" class="btn btn-warning">Cancel</a>
            <input type="submit" value="Save" class="btn btn-default"/>

            <br>
            <br>
            {% if deleteable %}
                <a href="{{ path('netvlies_publish_application_delete', {'id': application.id}) }}" class="btn btn-danger">Delete application</a>
            {% endif %}


        </form>

{% endblock %}
