    <select id="appselect" style="width: 180px;">
        <option></option>
        <option value="{{ path('netvlies_publish_application_create') }}">Add new application</option>
        <option value="{{ path('netvlies_publish_environment_create') }}">Add new host</option>

        {% for app in apps %}
            {% if loop.first %}
                <optgroup label="Applications">
            {% endif %}
            {% set url = dashboardurl|format(app.id) %}

            {% if current is not empty and current.name == app.name %}
                <option value="{{ url }}" selected=selected><a href="{{ path('netvlies_publish_application_dashboard', {'application': app.id }) }}">{{ app.name }}</a></option>
            {% else %}
                <option value="{{ url }}"><a href="{{ path('netvlies_publish_application_dashboard', {'application': app.id }) }}">{{ app.name }}</a></option>
            {% endif %}
            {% if loop.last %}
                </optgroup>
            {% endif %}
        {% endfor %}
    </select>