{% set targettab = true %}
{% extends 'NetvliesPublishBundle::layout.html.twig' %}
{% block oms_project_name %}{{application.name}}{% endblock %}

{% block content %}

    <div id="content-wrapper">

        <section id="content">
            <header>
                <h1>Edit target for {{application.name}}</h1>
            </header>
            <hr />
            <div id="text">
                Note: Nothing will be changed on target server! E.g. if a path is changed, you need to fix this manually on remote server
                <form action="" method="POST">

                    {{ form_errors(form) }}
                    {{ form_widget(form) }}


                    <input type="submit" value="Opslaan" class="button"/>
                    <a href="{{ path('netvlies_publish_application_dashboard', {'id': application.id}) }}" class="button">Annuleren</a>

                </form>
            </div>
        </section>
    </div>

{% endblock %}
