{% extends 'NetvliesPublishBundle:Application:view.html.twig' %}
{% block target %}

        <h2>Targets</h2>

        <form id="target" name="target" method="POST" action="{{ path('netvlies_publish_target_targets', {'id': application.id})}}">
            <table border="1" cellspacing="0">
                <thead>
                    <th>Environment</th>
                    <th>Label</th>
                    <th>Host</th>
                    <th>Actions</th>
                </thead>
            {% for target in targets %}
                <tr>
                    <td>{{ target.environment.type }}</td>
                    <td>{{ target.label }}</td>
                    <td>{{ target.environment.hostname }}</td>
                    <td>
                        <a href="{{path('netvlies_publish_target_edit', {'id': target.id})}}">edit</a> |
                        <a onclick="confirm('Are you sure you want to delete this target?')? window.location = '{{path('netvlies_publish_target_delete', {'id': target.id})}}': false" href="#">delete</a> |
                        <a href="{{path('netvlies_publish_target_init', {'id': target.id})}}">remote setup</a>
                    </td>
                </tr>
            {% endfor %}
            </table>
        </form>


        <a href="{{path('netvlies_publish_target_createstep1', {'id': application.id})}}" class="button">Add target</a>
{% endblock %}


