{% extends 'form_div_layout.html.twig' %}


{# to prevent numbering collection items #}
{% block form_label %}
    {% spaceless %}
        {% if label is not sameas(false) %}
            {% if not compound %}
                {% set label_attr = label_attr|merge({'for': id}) %}
            {% endif %}
            {% if required %}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
            {% endif %}

            {% if label is empty and compound %}

            {% else %}
                {% if label is empty %}
                    {% set label = name|humanize %}
                {% endif %}
                <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}</label>
            {% endif %}

        {% endif %}
    {% endspaceless %}
{% endblock form_label %}

{# implements twitter bootstrap horizontal forms #}
{% block form_row %}
    {% spaceless %}
        <div class="form-group {% if form_errors(form) | length > 0 %}has-error has-feedback{% endif %}">
            {% if form.parent.vars.attr['data-horizontal'] is defined %}
                {% set horizontal = form.parent.vars.attr['data-horizontal'] %}
            {% else %}
                {% set horizontal = false %}
            {% endif %}

            {% if horizontal %}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' control-label col-lg-2')|trim}) %}
            {% endif %}
            {{ form_label(form, label, {'label_attr': label_attr}) }}

            {% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-control')|trim}) %}
            {% if horizontal %}
                <div class="col-lg-10">
                    {{ form_widget(form, {'attr': attr}) }}
                    {% if form_errors(form) | length > 0 %}
                        <span class="help-block">{{ form_errors(form) }}</span>
                    {% endif %}
                    {% if attr['data-help'] is defined %}
                        <span class="help-block">{{ attr['data-help'] }}</span>
                    {% endif %}
                </div>
            {% else %}
                {{ form_widget(form, {'attr': attr}) }}
                {% if form_errors(form) | length > 0 %}
                    <span class="help-block">{{ form_errors(form) }}</span>
                {% endif %}
                {% if attr['data-help'] is defined %}
                    <span class="help-block">{{ attr['data-help'] }}</span>
                {% endif %}
            {% endif %}



        </div>
    {% endspaceless %}
{% endblock form_row %}

{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
        {% for error in errors %}
            {{ error.message }}
        {% endfor %}
    {% endif %}
{% endspaceless %}
{% endblock %}


{% block onetomany_row %}
    {% spaceless %}
        <div class="form-group">
            {% if form.parent.vars.attr['data-horizontal'] is defined %}
                {% set horizontal = form.parent.vars.attr['data-horizontal'] %}
            {% else %}
                {% set horizontal = false %}
            {% endif %}

            {% if horizontal %}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' control-label col-lg-2')|trim}) %}
            {% endif %}
            {{ form_label(form, label, {'label_attr': label_attr}) }}
            {{ form_errors(form) }}
        </div>

        {{ form_widget(form, {'attr': attr}) }}

    {% endspaceless %}
{% endblock %}


{% block onetomany_widget %}

    {% if form.vars.layoutmacro == 'self' %}
        {% import 'OrganistBundle:Form:macro-onetomany.html.twig' as mymacro %}
    {% else %}
        {% import form.vars.layoutmacro as mymacro %}
    {% endif %}

    <div class="onetomanycontainer" data-prototype="{{  mymacro.onetomanyfields(form.vars.prototype) | escape('html') }}">

        {# iterate over each existing tag and render its only field: name #}
        {% for childform in form %}
            <div class="form-group">
                {{ mymacro.onetomanyfields(childform) }}
            </div>
        {% endfor %}
    </div>
{% endblock %}


{% macro onetomanyfields(fields) %}

    {% for childwidget in fields %}
        <div class="col-lg-2"></div>
        <div class="col-lg-9">
            {{ form_widget(childwidget,  {'attr': {'class': 'form-control'} }) }}
        </div>
    {% endfor %}
{% endmacro %}


{# implements inline radio/checkboxes with twitterbootstrap#}
{% block choice_widget_expanded %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            {% for child in form %}
                <label class="{% if multiple %}checkbox-inline{% else %}radio-inline{% endif %}">
                    {{ form_widget(child) }}
                    {{ child.vars.label }}
                </label>
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock choice_widget_expanded %}


