{% extends 'NetvliesPublishBundle::base.html.twig' %}
{% block body %}
<h1><img src="{{ asset('bundles/netvliespublish/images/netvlies_logo.gif') }}"/> OTAP publishing</h1>


<table border="0">
    <tr>
        <td valign="top">
        <h2>Sites</h2>
        <ul>
        {% for item in sites %}
               <li><a href="{{ path('netvlies_publish_default_detail', {'id': item.id }) }}">{{ item.name }}</a></li>
        {% endfor %}
        </ul>
        </td>
        <td width="30">&nbsp;</td>
        <td valign="top">
            {% if site|default() %}

                <h2>{{site.name}}</h2>
                Repository: {{site.repository}} <br>
                {% if pullAction|default(false)  %}
                    Buildfile is set to: {{site.buildfile}} <br><br>
					Buildfile doesn't exist. Please perform a checkout/pull action to updated to latest revision, or change buildfile path<br>
                {% else %}
                    <a href="{{site.browsePath}}">Browse files</a><br>
					Buildfile: <a href="{{site.getBrowsePath()}}{{site.buildfile}}">{{site.buildfile}}</a><br><br>
                {% endif %}

                <a href="#" onClick="showConsole('{{ path('netvlies_publish_default_pull', {'id': site.id})}}')">Git Clone / Pull</a>
                    

                {% if targets|default() %}
                    <h2>Available targets</h2>
                    <ul>
                    {% for target in targets %}
                           <li><a href="#" onClick="showConsole('{{ path('netvlies_publish_default_exectarget', {'id': site.id, 'name': target.name }) }}')">{{ target.name }}</a> {{ target.description }}</li>
                    {% endfor %}        
                     </ul>
                {% endif %}


                <div id="consoleMessage" style="position: absolute; display: none; ">
                    <div id="consoleMelding">Console<div id="consoleClose" onclick="hideConsole();" style="display: block; ">X</div></div>
                    <div id="consoleMeldingen" style="display: none; "></div>
                    <iframe id="consoleMeldingenFrame" style="display: block;"></iframe>
                </div>
                    
            {% endif %}
        </td>    
    </tr>
</table>



{% endblock %}